~docs/Project Description.docx
~docs/Modeling Definitions.md
~docs/flowchart.png

# .NET build artifacts
**/bin/
**/obj/
**/Debug/
**/Release/

# Node modules
**/node_modules/

# Visual Studio
.vs/
*.suo
*.user
